<div class="full-screen">
    <h1>Заказы</h1>

    <div class="orders">
        <div class="order-list">
            <table>
                <tr>
                    <th>Название</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                </tr>
                <tr *ngFor="let product of this.cart.products">
                    <td>
                        <p>{{ product.name }}</p>
                        <p><img src="{{ product.imgPath }}" alt=""></p>
                    </td>
                    <td>
                        <span class="material-icons" (click)="decreaseCount(product)">
                            remove_circle_outline
                        </span>
                        <span class="count">{{ product.count }}</span>
                        <span class="material-icons" (click)="increaseCount(product)">
                            add_circle_outline
                        </span>
                    </td>
                    <td class="productSum">{{ product.price * product.count }}</td>
                </tr>
            </table>
        </div>
        <div class="deliver-info">
            <form [formGroup]="orderForm" novalidate (ngSubmit)="createOrder(orderForm.value)">
                <p>
                    <input formControlName="address" type="text" id="address" placeholder="Адрес" />
                </p>
                <p>
                    <input formControlName="phoneNumber" type="text" id="phoneNumber" placeholder="Телефон"/>
                </p>

                <p class="total-sum">
                    К оплате: <span>{{ cart.totalSum }} тг</span>
                </p>
                
                <p class="send-order">
                    <button type="submit" class="send-order-btn">
                        Оформить заказ
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>
