<div class="container">
    <div class="slider">
        <div class="text-block">
            <h2>
                Лучшие суши в <br>
                Астане 
            </h2>
            <p>
                Бесплатная доставка <br>
                круглосуточно
            </p>
        </div>
        <div class="img-block">
            <img src="/assets/images/slider1.png" alt="">
        </div>
    </div>
    <div class="rolls">
        <h2><a [routerLink]="['/rolls']">Роллы</a></h2>
        <div class="products-list">
            <app-product-card *ngFor="let sushi of sushis"
            [product]="sushi" (onClick)="addProductToShoppingCart($event)"></app-product-card>
        </div>
    </div>
    
    <div class="sets">
        <h2><a [routerLink]="['/sets']">Сеты</a></h2>
        <div class="products-list">
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
        </div>
    </div>

    <div class="pizzas">
        <h2><a [routerLink]="['/pizzas']">Пицца</a></h2>
        <div class="products-list">
            <app-product-card *ngFor="let pizza of pizzas"
            [product]="pizza" (onClick)="addProductToShoppingCart($event)"></app-product-card>
        </div>
    </div>

    <div class="drinks">
        <h2><a [routerLink]="['/drinks']">Напитки</a></h2>
        <div class="products-list">
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
            
            <app-product-card></app-product-card>
        </div>
    </div>
</div>