nav {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

img {
    width: 84px;
    height: 72px;
    margin-right: -70px;
}

div {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}


.auth {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.search-button {
    cursor: pointer;
}

.working-time {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

.header-top {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-top ul:first-of-type{
    width: 500px;
}

.header-bottom {
    background-color: #90D884;
    height: 50px;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Montserrat', sans-serif;
}

.header-bottom ul {
    width: 300px;
    font-weight: 700;
}

.input-form {
    position: relative;
}
input {
    width: 280px;
    height: 31px;
    padding: 10px;
}
.input-form span {
    position: absolute;
    left: 250px;
}

.active {
    text-decoration: underline;
}

.cart {
    display: flex;
    width: 280px;
    justify-content: flex-end;
}
.notify {
    border-radius: 50%;
    background-color: #000;
    width: 24px;
    height: 24px;
    color: white;
    display: flex;
    justify-content: center;
    opacity: 0.75;
    /* font-family: 'Lato', sans-serif; */
}

.shopping-cart {
    margin-left: 10px;
    text-transform: uppercase;
    margin-right: 10px;
}

button {
    background-color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}