<nav>
    <div class="header-top">
        <img src="/assets/images/logo.png" alt="">
        <div>
            <span class="material-icons">
                access_time
            </span>
            <span class="working-time">9:00 - 24:00</span>
        </div>
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Главная</a></li>
            <li><a [routerLink]="['/contacts']" routerLinkActive="active">Контакты</a></li>
            <li><a [routerLink]="['/delivery']" routerLinkActive="active">Доставка</a></li>
        </ul>
        <ul class="auth" *ngIf="!isAuthorize">
            <li><a [routerLink]="['/signin']" routerLinkActive="active">Вход</a></li> |
            <li><a [routerLink]="['/signup']" routerLinkActive="active">Регистрация</a></li>
        </ul>
        <ul class="auth" *ngIf="isAuthorize">
            <li><a [routerLink]="['/account']" routerLinkActive="active">Аккаунт</a></li> |
            <li><button type="button" (click)="signOut()">Выход</button></li>
        </ul>
    </div>
    <div class="header-bottom">
        <div class="input-form">
            <input type="search" placeholder="Поиск" id="">
            <span class="material-icons search-button">
                search
            </span>
        </div>
        
        <ul class="bottom-nav">
            <li><a [routerLink]="['/product-list/rolls']" routerLinkActive="active">Роллы</a></li>
            <li><a [routerLink]="['/product-list/sets']" routerLinkActive="active">Сеты</a></li>
            <li><a [routerLink]="['/product-list/pizzas']" routerLinkActive="active">Пицца</a></li>
            <li><a [routerLink]="['/product-list/salads']" routerLinkActive="active">Салаты</a></li>
            <li><a [routerLink]="['/product-list/drinks']" routerLinkActive="active">Напитки</a></li>
        </ul>

        <div class="cart">
            <span class="material-icons">
                shopping_cart
            </span>
            <a [routerLink]="['/shopping-cart']" class="shopping-cart" (click)="calculate()" routerLinkActive="active">Корзина</a>
            <div class="notify">
                {{ itemsCount }}
            </div>
        </div>
    </div>
</nav>

<app-sign-up class="modal hidden"></app-sign-up>