.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-grow: 25%;
    flex-wrap: wrap;
}

app-product-card {
    margin: 30px 26px 40px 26px;
}

@media(width: 1366px) {
    app-product-card {
        margin: 30px 10px 30px 10px;
    }
}