.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-grow: 25%;
    flex-wrap: wrap;
}

app-product-card {
    margin: 0 20px 0 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}